
@font-face{ font-family: SIMPLIFICA; src: url('fonts/SIMPLIFICA Typeface.ttf'); }
@font-face{ font-family: MuseoSans; src: url('fonts/MuseoSans_500.otf'); }
@font-face{ font-family: Novecentosanswide-Light; src: url('fonts/Novecentosanswide-Light.otf'); }
@font-face{ font-family: Novecentosanswide-Book; src: url('fonts/Novecentosanswide-Book.otf'); }
@font-face{ font-family: Novecentosanswide-Normal; src: url('fonts/Novecentosanswide-Normal.otf'); }
@font-face{ font-family: Novecentosanswide-Medium; src: url('fonts/Novecentosanswide-Medium.otf'); }
@font-face{ font-family: Novecentosanswide-DemiBold; src: url('fonts/Novecentosanswide-DemiBold.otf'); }
@font-face{ font-family: Novecentosanswide-Bold; src: url('fonts/Novecentosanswide-Bold.otf'); }

/* 
    background: radial-gradient(#012a38,#00111a);
    text: #10f9b7;
    input text border 1: #c9c9c9;
    input text border 2: #969696;

*/

body{

    height: 100vh;
    background: #012a38; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#012a38,#00111a); /* Safari */
    background: -o-radial-gradient(#012a38,#00111a); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#012a38,#00111a); /* Firefox 3.6 to 15 */
    background: radial-gradient(#012a38,#00111a);
    font-family: MuseoSans;
    overflow: hidden;
    transition: background 0.3s ease;
}

#main{
    clear: both;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    text-align: center;
}

#sharkLogo{
    
    width: 200px;
    height: 100px;
}

h1{
    color: #10f9b7;
    font-size: 50px;
}


input[type="text"] {
    padding: 10px;
    border: none;
    border-bottom: solid 3px #c9c9c9;
    transition: border 0.3s;
    outline: none;
    width: 48%;
    margin-bottom: 10px; 
}

input[type="text"]:focus {
    border-bottom: solid 3px #969696;
}

button{
    font-family: MuseoSans;
    height: 40px;
    color: #10f9b7;
    background: #012a38;
    border: none;
    outline: none;
    transition: background 0.3s;
}

button:hover{
    background: #035e7c;
}

.login button{
    width: 25%;
}

body>button[type="button"]{
    float: right;
    position: absolute;
    right: 8px;
    top: 8;
    padding: 0px 20px 0px 20px;
}