
/* 
    background: radial-gradient(#012a38,#00111a);
    text: #10f9b7;
    input text border 1: #c9c9c9;
    input text border 2: #969696;

*/

body{
    background-image: url("../img/gradient-bg.jpg");   
    background-size: 100vw;

    font-family: MuseoSans;
}

#main{
    clear: both;
    position: absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    text-align: center;
}

#sharkLogo{
    position: absolute;
    width: 200px;
    height: 100px;
}

h1{
    color: #10f9b7;
    font-size: 50px;
}

.login input[type="text"]{
    width: 50%;
}
.login button{
    width: 25%;
}

body>button[type="button"]{
    position: absolute;
    right: 8px;
    top: 8;
    padding: 0px 20px 0px 20px;
}