
@font-face{ font-family: SIMPLIFICA; src: url('fonts/SIMPLIFICA Typeface.ttf'); }
@font-face{ font-family: MuseoSans; src: url('fonts/MuseoSans_500.otf'); }
@font-face{ font-family: Novecentosanswide-Light; src: url('fonts/Novecentosanswide-Light.otf'); }
@font-face{ font-family: Novecentosanswide-Book; src: url('fonts/Novecentosanswide-Book.otf'); }
@font-face{ font-family: Novecentosanswide-Normal; src: url('fonts/Novecentosanswide-Normal.otf'); }
@font-face{ font-family: Novecentosanswide-Medium; src: url('fonts/Novecentosanswide-Medium.otf'); }
@font-face{ font-family: Novecentosanswide-DemiBold; src: url('fonts/Novecentosanswide-DemiBold.otf'); }
@font-face{ font-family: Novecentosanswide-Bold; src: url('fonts/Novecentosanswide-Bold.otf'); }


/*
    pink: f16f93;

    background: #012a38
    background2: #00111a;
    post >
        header background: #00111a;
        body background: #004466;
        footer background: white;
        input text border 1: #c9c9c9;
        input text border 2: #969696;
        button hover: #c9c9c9;
        titulos: #10f9b7;
        subtitle: #047c5a;
        text: #cccccc;
*/

:root{
    --shark-dark-blue: #00111a;
    --shark-light-blue: #012a38;
    --shark-dark-green: #047c5a;
    --shark-light-green: #10f9b7;
    --shark-pink: #f16f93;

    --post-header-bg: #00111a;

}

*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    background-image: url("../img/gradient-bg.jpg");
    background-size: 100vw;
}

h1{
    color: var(--shark-light-green);
    font-size: 50px;
}

.post{
    font-family: Verdana, sans-serif, Geneva, Tahoma;
    color: #cccccc;
    
    clear: both;
    margin: auto;
    width: 50%;
}

.post-head{
    float: left;
    width: 100%;
    background: #00111a;
}

    .post-head .content {
        padding: 10px;
        float: left;
        width: inherit;
    }

    .post-head table{
        width: 100%;
    }
    
    .post-head .content a{
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 200px;
        width: 100px;
        height: 100px;
        float: left;
        border-radius: 50%;
        transition: 0.5s;
    }

    .post-head .content a:hover{
        opacity: 0.5;
    }

    .post-head .title{
        font-size: 16px;
        font-family: MuseoSans;
        clear: both;
        color: var(--shark-light-green);
    }

    .post-head .subtitle{
        font-size: 12px;
        font-family: MuseoSans;
        /*clear: left;*/
        padding-top: 10px; 
        /*margin-left: 115px;*/ 
        color: var(--shark-dark-green);
        border-top: solid 1px #002133;
        width: 70%;
    }

.post-body{
    clear: both;
    width: 100%;
    background: 	rgba(31, 58, 71, 0.5);
}

    .post-body .content{
        padding: 30px;
    }

    .post-body .content img{
        display: block;
        margin: auto;
        width: 100%;
        border-radius: 15px;
        transition: 0.5s;
    }

    .post-body .content img:hover{
        border-radius: 0px;
    }

.post-footer{
    background: white;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    float: left;
    margin-bottom: 20px; 
}

    .post-footer .content{
        padding: 10px;
        float: left;
        width: inherit;
    }

    .post-footer input[type="text"]{
        float: left;
        margin-bottom: 0px;
        width: 90%;
    }


    .post-footer .shark-empty-button{
        width: 30px;
        height: 30px;
        margin: 5px;
        float: left;
    }

    .post-footer .shark-empty-button:hover{
        background: #c9c9c9;
    }
    .post-footer .shark-empty-button img{
        height: inherit;
        width: inherit;
        border-radius: 5px;
    }