
/***
Jumps:
    ~Common-Controls
    ~Side-Bar
    ~Search-Dialog
    ~Notification-Dialog
***/

/***
    ~Common-Controls
***/

.shark-button{
    font-family: MuseoSans;
    height: 40px;
    /*color: #10f9b7;*/
    color: var(--shark-light-green);
    background: #012a38;
    border: none;
    outline: none;
    transition: background 0.3s;
    border-bottom: solid 3px #00111a;
    box-sizing: border-box;
    transition: border 0.3s ease;
}

.shark-button:hover{
    background: #035e7c;
}

.shark-button:focus{
    border-bottom: solid 3px #10f9b7;
}

.shark-empty-button{
    border: none;
    background: inherit;
    outline: none;
    transition: background 0.3s ease;
    padding: 0px;
    border-radius: 2px;
    margin: 5px;
}

input.shark-text, textarea.shark-text, select.shark-text {
    font-family: MuseoSans;
    padding: 10px;
    border: none;
    border-bottom: solid 3px #c9c9c9;
    outline: none; 
    box-sizing: border-box;

    transition: border 0.3s ease;    
}

input.shark-text-dark, textarea.shark-text-dark, select.shark-text-dark {
    color: white;
    box-sizing: border-box;
    font-family: MuseoSans;
    padding: 10px;
    border: none;
    border-bottom: solid 3px rgba(16, 249, 183, 0.05);
    transition: border 0.3s ease;
    outline: none;
    background: rgba(16, 249, 183, 0.1);
}

.shark-text:focus {
    border-bottom: solid 3px #969696;
}

.shark-text-dark:focus {
    border-bottom: solid 3px rgba(16, 249, 183, 0.5);;
}

/***
    ~Side-Bar
***/


/***
    ~Search-Dialog
***/

.dialog{
    position: fixed;
}

.left-triangle{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
}

#search-bar-dialog {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

    #search-bar-dialog .content{
        float: left;
        width: 200px;
        padding: 10px;
        background: white;
        border-radius: 10px;
    }

    #search-bar-dialog .shark-text{
        width: 100%;
    }

    #search-bar-dialog .left-triangle{
        margin-top: 20px;
        float: left;
    }

    #search-bar-dialog.visible, #notification-dialog.visible{
        visibility: visible;
        opacity: 1;
    }

/***
    ~Notification-Dialog
***/

#notification-dialog{

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 0;
    
}

    #notification-dialog .left-triangle{
        margin-top: 110px;
        float: left;
        border-right-color: var(--shark-dark-blue);
        z-index: 2;
    }

    #notification-dialog .content{
        float: left;
        width: 250px;
        height: 239px;

        background: var(--shark-dark-blue);
        /*box-shadow: 1px 1px 5px black;*/
        border-radius: 10px;
        overflow-y: scroll;
    }

    #notification-dialog .notification{
        border-bottom: solid 1px #002133;
        clear: both;
        height: 80px;
        padding: 10px;
        overflow: hidden;
        cursor: pointer;
    }

    #notification-dialog .notification:hover{
        background: #012a38;
        clear: both;
    }

    #notification-dialog .notification-picture{
        float:left;
        margin-top: 7px;
        width: 40px;
        height: 40px;
        background-position: 50% 50%;
        background-size: 80px;
        border-radius: 2px;
    }

    #notification-dialog .notification-title{
        margin: 5px 0px 0px 60px;
        font-family: MuseoSans, Verdana, Geneva, Tahoma, sans-serif;
        color: var(--shark-light-green);
    }

    #notification-dialog .notification-description{
        margin: 5px 0px 0px 60px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: var(--shark-dark-green);
        font-size: 10px;
    }

    /* Let's get this party started */
    #notification-dialog .content::-webkit-scrollbar {
        width: 6px;
    }
    
    /* Track */
    #notification-dialog .content::-webkit-scrollbar-track { 
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    
    /* Handle */
    #notification-dialog .content::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: var(--shark-dark-green);
    }
    #notification-dialog .content::-webkit-scrollbar-thumb:window-inactive {
        background: var(--shark-dark-blue);
    }