@font-face{ font-family: SIMPLIFICA; src: url('fonts/SIMPLIFICA Typeface.ttf'); }
@font-face{ font-family: MuseoSans; src: url('fonts/MuseoSans_500.otf'); }
@font-face{ font-family: Novecentosanswide-Light; src: url('fonts/Novecentosanswide-Light.otf'); }
@font-face{ font-family: Novecentosanswide-Book; src: url('fonts/Novecentosanswide-Book.otf'); }
@font-face{ font-family: Novecentosanswide-Normal; src: url('fonts/Novecentosanswide-Normal.otf'); }
@font-face{ font-family: Novecentosanswide-Medium; src: url('fonts/Novecentosanswide-Medium.otf'); }
@font-face{ font-family: Novecentosanswide-DemiBold; src: url('fonts/Novecentosanswide-DemiBold.otf'); }
@font-face{ font-family: Novecentosanswide-Bold; src: url('fonts/Novecentosanswide-Bold.otf'); }

/* 
   pink: f16f93;
    background: radial-gradient(#012a38,#00111a);
    text: #10f9b7;
    input text border 1: #c9c9c9;
    input text border 2: #969696;

*/

body{
    height: 100vh;
    font-family: MuseoSans;
    background: #012a38; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#012a38,#00111a); /* Safari */
    background: -o-radial-gradient(#012a38,#00111a); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#012a38,#00111a); /* Firefox 3.6 to 15 */
    background: radial-gradient(#012a38,#00111a);
    overflow: hidden;
}

#main{
    clear: both;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    text-align: center;
}

h1{
    color: #10f9b7;
    font-size: 50px;
}

/*Diseno de los controles*/

input[type="text"], input[type="password"], input[type="email"], 
input[type="date"], textarea, select {
    color: white;
    font-family: MuseoSans;
    padding: 10px;
    border: none;
    border-bottom: solid 3px rgba(16, 249, 183, 0.05);
    transition: border 0.3s;
    outline: none;
    margin-bottom: 10px; 
    background: rgba(16, 249, 183, 0.1);
}

input[type="date"]{
    padding: 8px !important; 
}

select {
    padding: 9px !important; 
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, 
input[type="date"]:focus, textarea:focus, select:focus {
    border-bottom: solid 3px rgba(16, 249, 183, 0.5);;
}

option{
    color: initial;
}

input[type="submit"], button{
    font-family: MuseoSans;
    height: 40px;
    color: #10f9b7;
    background: #012a38;
    border: none;
    outline: none;
    transition: background 0.3s;
}

input[type="submit"]:hover, button:hover{
    background: #035e7c;
}

#btnLogin{
    float: right;
    position: absolute;
    right: 8px;
    top: 8;
    padding: 0px 20px 0px 20px;
}

#btnSignin{
    width: 40%;
    font-size: 16px;
    color: #f16f93;
}

/*Acomodar los controles*/

#username, #title, #password, #country, #gender{
    width: 43%;
}

#date{
    width: 51%;
}

#email, #description{
    width: 94%;
}